extends layout

block content
    .blogContent
        .blogBox1(onclick="goToBlog()")
            .blogBoxTitle What is veganism?
            .blogBoxContent Veganism may be defined as a way of living that seeks to exclude, as far as possible and practical, all forms of exploitation of, and cruelty to, animals for food, clothing, or any other purpose.
        .blogBox2(onclick="goToBlog2()")
            .blogBoxTitle Transitioning to veganism
            .blogBoxContent Tips on going vegan
        .blogBox3(onclick="goToBlog3()")
            .blogBoxTitle Eliminating Health Risks on Plant-Based Diet
            .blogBoxContent Our bodies transform in amazing ways on a Plant-based diet. This fact is backed up by evidence provided in studies that we will be looking at.
        
        .sideBox