extends layout

block content
    .blogPageText(style="font-family: 'Love Ya Like A Sister', cursive;")
        h1 Tips on going vegan
        h2 Ask yourself “Why?”.
        p Did you have your reason sealed tight already? Good! Whatever your reason for making this lifestyle choice make sure that this will be your drive and motivation to keep going and not fail. But, don’t worry if you fail. Get up and get back at it.
        h2 Do your research.
        p This is probably the most important thing for you need to do when switching to this diet because VEGANS FAIL without research! The data is all around us, and it is becoming easier to access with all the available documentaries today. I strongly recommend that you watch a couple of this films. What The Health, The C Word, Cowspiracy, Forks Over Knives, Fat Sick and Nearly Dead and Earthlings. All this are available on Netflix and some are on YouTube as well.
        h2 Try it with someone.
        p Whether it is your Mother, Father, Brother, Sister or your Dog. Try and do it with someone else so you can look after each other and do the research together. 
        h2 Learn how to cook.
        p This is the first thing I did after the decision to go vegan. Unfortunately, it is not easy to find somewhere to eat out on this lifestyle—but then again, you can make sure of everything going inside your body. This way you can track your health way better!
        h2  WE ALL FAIL!
        p Initially, we all fail. Let’s face it we love sweets and salty food or those medium rare steaks or that classic cheeseburger. Don’t sweat it. I failed too couple of times. But as I’ve told you, go to the start and ask why are you doing it in the first place, and it should do the trick of getting you back on track. Here is where a partner comes in handy too. So you have someone who can smack you every time you cheat. Haha!
        h2 Have staples in your diet.
        p Assess what Plant-Based foods you already like and are already a part of your diet. This way you can eliminate and add certain foods to your daily meals.
        h2 NEVER LET YOURSELF BE HUNGRY!
        p Another thing you should always think about going into this lifestyle is—you can never be hungry. Eat foods (Plant foods) that will make you satisfied for long periods of time. Not just salads for the entire day or just veggie juices. This will not work. Get more volume of food with low fats and loads of good calories to get you going throughout the day.
        h2 Listen to your body.
        p This is something that we usually forget. We only have one body in this life and we should take care of it. Feed it with good food and you feel good, feed it with bad food and you’ll more often than not feel bad too.
        h2 Be proud of this lifestyle.
        p Because you have everything to gain and nothing to lose. Let them talk. Vegans have the longest life expectancy rate on the planet.
        h2 GET YOUR ASS UP!
        p What’s the point of being healthy if you’re just sitting around and doing nothing. Move around and feel the energy coming from this healthy and abundant lifestyle!
        <br>
        p Finally, I know a lot of you reading this wants some weight loss tips. So, here we go!
        <br>
        img(src="/Images/Blog2.jpg", class="blogTwoImg")
        <br><br>
        h2 Weight loss
        p You may get disappointed with what I’m about to say. But, be patient and trust the process. There are no secrets or shortcuts to losing weight! The only way is to track your diet and have reasonable amounts of exercise regularly. It’s evident that if you eat high volumes of food with low fat and the right amount of calories, you will be lean faster than you think. To give some away, here’s what you should eat on a plant-based diet to lose weight. CARBS! Like rice, beans, potatoes, and lentils. People will say carbs will make you fat. This is where your research comes in. We will talk about that in the following blogs—for now, ask yourself how many types “Carbohydrates” are there? Don’t worry about protein. All plant-based foods have protein and some more than what we need. Eat more greens. Pick the greens that you like and put them in a bowl then enjoy it. Fruits! These are very dense in water and suitable sugars to fulfill your sweet tooth. Essentially, you want to be calorie deficient to lose weight. Learn this, and you will see amazing results. As of now I challenge you to try this diet and see what happens to your body instantly. There will be withdrawal symptoms in the first week or two. This is coming from all the animal products you have consumed all your life. Once you overcome these stages, you are now going to crave more vegan foods than you expected.
        <br>
        p So, thank you for staying with me all the way to the end. Till next time!
        h3(onclick="goToBlog3()")  Blog #3 Eliminating Health Risks on Plant-Based Diet  &#8608;

        h2(style="text-align: left;") Leave Comment
        .newCommentBox
            lable(class="lName") Name
            input(class="name", placeholder="Enter Name")
            lable(class="lCmt") Comment
            textarea(name="", cols="30", rows="6" class="commentText", placeholder="Add Comment")
            .postButton(onclick="submitComment()") SUBMIT
        


        - var common = 'paras' 
        - var showTimeStamp = function (timeStamp){
        - var date = new Date();
        - var fixDate = Date.now();
        - var secondSpend = Math.floor((Date.now() - timeStamp)/1000)
        - var minSpend = Math.floor((Date.now() - timeStamp)/60000);
        - var hourSpend = Math.floor((Date.now() - timeStamp)/(60*60*1000));
        - var days =  Math.floor(hourSpend / 24) ;
        - var months =  Math.floor(days / 30);
        - var years =  Math.floor(months / 12);    
        -  if (years > 0){
        -      timePast = years > 1 ? years + " years": years + " year";
        -  }
        -  else if(months > 0){
        -      timePast = months > 1 ? months + " months":  months + " month";
        -  }
        -  else if(days > 0 ){
        -      
        -      timePast = days > 1 ? days + " days": days + " day";
        -  }
        -  else if(hourSpend > 0){
        -      timePast = hourSpend > 1 ? hourSpend + " hours": hourSpend + " hour";
        -  }
        -  else if(minSpend > 0 ){
        -      timePast = minSpend + " min"
        -  }
        -  else{
        -      timePast = secondSpend + " sec"
        -  }

        -  return timePast;
        - }


        <br><br><br>

        for item in data.reverse()  
            .commentDisplayBox 
                .CommenterName #{item.comment.name}
                .timeStamp #{showTimeStamp(item.comment.timeStamp)} ago
                .content #{item.comment.content}
