extends layout

block content
    .blogPageText(style="font-family: 'Love Ya Like A Sister', cursive;")
        h1 What in the world is “Veganism”?
        p Let’s start with “What is Veganism?” Veganism is not just a diet to lose or gain weight, but it is a lifestyle. A lifestyle of abstinence from animal products and cruelty.
        p Ethical veganism comes from the International Vegetarian Union, “Veganism may be defined as a way of living that seeks to exclude, as far as possible and practical, all forms of exploitation of, and cruelty to, animals for food, clothing, or any other purpose. In dietary terms, it refers to the practice of dispensing with all animal products, including meat, fish, poultry, eggs, animal milk, honey, and their derivatives.”
        p So, we got that part pretty clear—let’s tackle the reason why the heck we're here right now.
        img(src="/Images/Blog1.jpg", class="blogOneImg")
        h2 Why are you here?
        p One of the reasons you are here is probably because you asked us about our diet and we told you to go here, secondly because you want to change something within yourself. Whether you aim to lose weight or you’re compassionate about animals and the environment, or just because you are sick and tired of your current diet—plus you’ve seen success in others through a Plant-Based Diet. But before we proceed on how we intend to achieve our goals, we must identify our motivations and ask ourselves why we are willing to make these changes in our lifestyle. For some of us, it won't be an easy task, and this is very relatable. Apparently, you are interested otherwise you wouldn't have stuck around, all that is needed now is the will to push through. So think hard about it. What is your reason for going through with this lifestyle change? Perhaps, I can help you by sharing our little story of why we went vegan.

        h2 Why we went Vegan?
        p I suggest grabbing a banana or something before continuing, because this may take a while. Haha! It all started when a good friend, who was already vegan at that time (Shoutout Richard Visco) told me to watch this documentary “What The Health.” Frankly, I didn’t finish it. I had no interest with what’s happening in the film. Indeed, I felt pity for the animals while watching, but I closed off my mind so much so that I never got to the middle part of the documentary. This was my introduction to veganism. Months later I moved to Canada and found out that, it’s so hard to get a job! Long story short—I was broke AF. Can’t blame the system though—because I had spent so much money on Pizzas, Burgers, Bacon and Processed Meats that it obliterated my budget for food entirely. Life moments like this force you to go into survival mode and try to be as cheap as possible. So, I went with Eggs and Rice diet for a certain amount of time. All this while my vegan brother Pursharth Vohra (You can call him Paras) and I were trying to go back to the gym.
        p One day, I was chilling with another good friend (Shoutout Oti) while devouring a massive pack of Oreo cookies. We didn’t finish the whole box. But, before he left he asked me one more time if I wanted more and so I said “No bro, take that away from me.” because honestly, I can finish it within minutes. He then randomly suggested a health documentary on Netflix, and surprise surprise—it’s “What The Health” again! So I opened my mind to it and watched it alone before going to bed. That film killed me—with all the truths about animal farming and the dairy industry (will elaborate on the following posts). From broke AF to WOKE AF. I went to bed that night battling the decision of if I was going to ignore it or go for it. The first thing I did the next morning was to tell Paras about what I just watched and persuaded him to watch it himself. Even though he was a vegetarian(Still consume Eggs and Dairy) all his life Paras has had a condition since he was a kid, he had lumps all over his body made out of saturated fats accumulated inside his body. He went to a doctor, and the only thing the doctor said was “Change nothing and continue living your life normally.” It was obvious that there was something wrong, and something needed to be done. So, after he finished watching the film, I asked him “So what do you think?” He just said “Yeah let’s do it.” and that was the beginning of our vegan journey. I threw the milk, butter, and cheese that I still had in the fridge and luckily I was out of eggs.
        p I know there will be more questions after this. Like “Have you cheated on the diet?” or “is it hard to transition?” and the most classic of all “WHERE DO YOU GET YOUR PROTEINS?”. We will cover all this in the upcoming blogs, and please leave your questions or general inquiries in the comment section below to let us know what the dark-chocolate-fudge it takes to convince you. We coined the term "Veganhood" because we want everyone to work together as a community of brothers and sisters in pursuing our optimal health while saving this planet at the same time.
        p Now that we got all that covered, let’s see some tips on how to get started.

        h3(onclick="goToBlog2()")  Blog #2 Transitioning to veganism  &#8608;
        <br><br><br>
        h2(style="text-align: left;") Leave Comment
        .newCommentBox
            lable(class="lName") Name
            input(class="name", placeholder="Enter Name")
            lable(class="lCmt") Comment
            textarea(name="", cols="30", rows="6" class="commentText", placeholder="Add Comment")
            .postButton(onclick="submitComment()") SUBMIT
            


        - var common = 'paras' 
        - var showTimeStamp = function (timeStamp){
        - var date = new Date();
        - var fixDate = Date.now();
        - var secondSpend = Math.floor((Date.now() - timeStamp)/1000)
        - var minSpend = Math.floor((Date.now() - timeStamp)/60000);
        - var hourSpend = Math.floor((Date.now() - timeStamp)/(60*60*1000));
        - var days =  Math.floor(hourSpend / 24) ;
        - var months =  Math.floor(days / 30);
        - var years =  Math.floor(months / 12);    
        -  if (years > 0){
        -      timePast = years > 1 ? years + " years": years + " year";
        -  }
        -  else if(months > 0){
        -      timePast = months > 1 ? months + " months":  months + " month";
        -  }
        -  else if(days > 0 ){
        -      
        -      timePast = days > 1 ? days + " days": days + " day";
        -  }
        -  else if(hourSpend > 0){
        -      timePast = hourSpend > 1 ? hourSpend + " hours": hourSpend + " hour";
        -  }
        -  else if(minSpend > 0 ){
        -      timePast = minSpend + " min"
        -  }
        -  else{
        -      timePast = secondSpend + " sec"
        -  }

        -  return timePast;
        - }


        <br><br><br>

        for item in data.reverse()  
            .commentDisplayBox 
                .CommenterName #{item.comment.name}
                .timeStamp #{showTimeStamp(item.comment.timeStamp)} ago
                .content #{item.comment.content}
            

        