extends layout

block content
    content
        .homeContent
            .homeText
        
        .whatsNew
            .leftBox What's
            .rightBox
                .newBlogBox(onclick="goToBlog3()") <span style="font-size:4vw; "> Up  </span> Blog #3 Eliminating Health Risks on Plant-Based Diet
                    img(src="Images/ThumbnailBlog3.jpg", class="newThumImage")
                .nextBlogBox  <span style="font-size:4vw; ">Next   </span> Blog #4 Recipe - Oil Free Pasta (Cooming Soon)