extends layout

block content
    content
        .homeContent
            .homeText
        
        .whatsNew
            .leftBox What's
            .rightBox
                .newBlogBox(onclick="goToBlog()") <span style="font-size:4vw; "> Up </span> Blog #1 What is veganism?
                    img(src="Images/veganThumb.jpg", class="newThumImage")
                .nextBlogBox(onclick="goToBlog2()")  <span style="font-size:4vw; ">Next  </span> Blog #2 Transitioning to veganism
                    img(src="Images/Transitionthumb.jpg", class="nextThumImage")