doctype html
html
    head
        title The VeganHood
        link(rel='stylesheet', type="text/css", href ='./css/index.css')
        script(language="JavaScript" type="text/JavaScript" src="/js/jquery.min.js")
        meta(name = "viewport", content="width=device-width, initial-scale=1.0")
        script(language="JavaScript" type="text/JavaScript" src="/js/index.js")
        link(href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet")
    body(onload="text();")
        .aleartBox Box
        nav 
            .homeTitle 
                a(href="/", style="color: antiquewhite; ") The VeganHood
            .navLinks 
                a(href="/") Home
                a(href="/blogList") Blog
                a(href="/references") References


        .menu(onClick="showNavBar()") 
            a(href="/", style="color: antiquewhite; ") The VeganHood
            .menuBtn 
                .firstBar
                .secondBar
                .thirdBar
                .fourthBar

        .mobileMenu
            a(href="/") Home
            a(href="/blogList") Blog
            a(href="/references") References

        block content
       
        footer
         p(style="text-align:center; ") &copy; 2018 by Pursharth Vohra