extends layout

block content
    .blogPageText(style="font-family: Arial, Helvetica, sans-serif, cursive; text-align: left;")
        h1 References
        ul
            li <strong> <a href="http://cebp.aacrjournals.org/content/11/11/1441">http://cebp.aacrjournals.org/content/11/11/1441</a></strong> (IGF-1) Allen, N., Appleby, P., Davey, G., Kaaks, R., Rinaldi, S. and Key, T. (2002). The Associations of Diet with Serum Insulin-like Growth Factor I and Its Main Binding Proteins in 292 Women Meat-Eaters, Vegetarians, and Vegans. [online] Cancer Epidemiology, Biomarkers & Prevention. Available at: http://cebp.aacrjournals.org/content/11/11/1441 [Accessed 7 Jun. 2018].
            br
            li <strong> <a href="http://dresselstyn.com/JFP_06307_Article1.pdf"> http://dresselstyn.com/JFP_06307_Article1.pdf</a></strong> (Clearing up arteries) Esselstyn, C., Gendy, G., Doyle, J., Golubic, M. and Roizen, M. (2018). A way to reverse CAD?. [online] Dresselstyn.com. Available at: http://dresselstyn.com/JFP_06307_Article1.pdf [Accessed 7 Jun. 2018].
            br
            li <strong> <a href="https://www.ncbi.nlm.nih.gov/pubmed/19496976">https://www.ncbi.nlm.nih.gov/pubmed/19496976</a></strong> (mammalian hormones) Maruyama K, e. (2018). Exposure to exogenous estrogen through intake of commercial milk produced from pregnant cows. - PubMed - NCBI. [online] Ncbi.nlm.nih.gov. Available at: https://www.ncbi.nlm.nih.gov/pubmed/19496976 [Accessed 7 Jun. 2018].
            br 
            li  <strong> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3357167/pdf/brc0005-0044.pdf">"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3357167/pdf/brc0005-0044.pdf</a></strong> (milk and cancer) Freilburg, K. (2018). Consumption of Cow’s Milk and Possible Risk of Breast Cancer. [online] Ncbi.nlm.nih.gov. Available at: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3357167/pdf/brc0005-0044.pdf [Accessed 7 Jun. 2018].
            br
            li <strong> <a href="http://annals.org/aim/article-abstract/700872/calcium-regulating-hormones-essential-hypertension-relation-plasma-renin-activity-sodium">http://annals.org/aim/article-abstract/700872/calcium-regulating-hormones-essential-hypertension-relation-plasma-renin-activity-sodium</a></strong> (Hypertension)